<ion-view view-title="Durga-Buzzer" hide-back-button="true">

  <ion-content class="ion-list">
    <ion-slide-box does-continue="true" auto-play="true" slide-interval="5000" show-pager="true">
      <ion-slide>
      <div class="topclass">
      <center><img src="img/hand.png"  style="margin-top: 5em ; height: 18em !important; "><br>
        <div class="font-headintro" ><h3>Helping Hand</h3></div>
        <div class="font-lightintro padding">Women needs nearby helping hand when she is in trouble.</div></center>
      </div>
      </ion-slide>
      <ion-slide>
       <div class="topclass">
      <center><img src="img/women.png" style="margin-top: 5em ; height: 18em !important;"><br>
        <div class="font-headintro" ><h3>Women Security</h3></div>
        <div class="font-lightintro padding">Women need privacy as equal as security whenever, wherever she goes.</div></center>
      </div>
      </ion-slide>
      <ion-slide>
        <div class="topclass">
      <center><img src="img/chat.png" style="margin-top: 5em ; height: 13em !important;"><br>
        <div class="font-headintro" style="margin-top: 4em;"><h3>Emergency Situation</h3></div>
        <div class="font-lightintro padding">When you are in emergency you are not in the situation to operate your mobile phone to send SMS, Make a phone call to relatives</div></center>
      </div>
      </ion-slide>
     
</ion-slide-box>     
  </ion-content>
  <a class="bar bar-footer bar-teals" href="#/getMobile">
  <div class="title font-header">GET STARTED</div>
  </a>
</ion-view>
