<ion-modal-view>
 <ion-header-bar align-title="center" class="bar-positive">
  <p class="title">Not Matched</p>
   <button class="button button-clear right" style="padding-top:5px;text-transform: capitalize !important; padding-right: 1em !important;" ng-click="closeModal2()">
        <i class="ion-android-close"></i>
      </button>
 </ion-header-bar>

  <ion-content class="padding iniLogin">
      <center><img ng-src="{{nowpersonimage}}" height="200px" width="200px" style="border-radius: 10px !important;">
      <button class='notmatchbtn'>Not Matched</button>
      </center>
  </ion-content>
</ion-modal-view>