<ion-view view-title="Track Durgas" hide-back-button="true" class="layout">
<ion-header-bar align-title="left" class="bar-positive">
   <div class="buttons">
    <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeftSideMenu()">
  </div>
  <h1 class="title" style="font-size:18px;font-family:'Roboto' sans-serif !important;">Track Durgas</h1>
  <div class="buttons" ng-click="call()" style="float: right !important; ">
    <button class="button button-clear ion-android-call" style="font-size:  1.3em !important;"></button>
  </div>
</ion-header-bar>
<ion-content class="has-header">
   <div id="map"></div>
</ion-content>
</ion-view>
